In [4]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv('Fertilizer Prediction.csv')
data.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [6]:
X=data.iloc[:,:-1]
y=data['Fertilizer Name']

In [7]:
x1=X.select_dtypes(include=['object'])

In [8]:
x1=pd.get_dummies(x1)

In [9]:
x2=X.select_dtypes(exclude=['object'])

In [10]:
X=pd.concat((x2,x1),axis=1)

In [11]:
X.head()

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Soil Type_Black,Soil Type_Clayey,Soil Type_Loamy,Soil Type_Red,...,Crop Type_Cotton,Crop Type_Ground Nuts,Crop Type_Maize,Crop Type_Millets,Crop Type_Oil seeds,Crop Type_Paddy,Crop Type_Pulses,Crop Type_Sugarcane,Crop Type_Tobacco,Crop Type_Wheat
0,26,52,38,37,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,29,52,45,12,0,36,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,34,65,62,7,9,30,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,32,62,34,22,0,20,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,28,54,46,35,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [12]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=.20,random_state=12)

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
knn= KNeighborsClassifier(n_neighbors=2)

In [15]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=2)

In [16]:
pred=knn.predict(xtest)

In [17]:
print(knn.score(xtest, ytest))
print(knn.score(xtrain, ytrain))

0.95
0.9746835443037974